.companies {
    background-color: var(--white-color);
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
    }
}
.company {
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    background-color: transparent;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: currentColor;
    transition: border-color var(--time-duration);
    &:hover, &:focus {
        border-color: var(--main-color);
    }
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        width: 100%;
    }
}
.company-icon {
    fill: #AFB1B8;
    transition: fill var(--time-duration);
    .company-link:hover &, 
    .company-link:focus & {
        fill: var(--main-color);
    }
}